asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-environ
djangorestframework
drf-yasg
exceptiongroup
fuzzywuzzy
gunicorn
h11
idna
inflection
Levenshtein
numpy
oauthlib
outcome
packaging
pandas
psycopg2-binary
pycparser
PyJWT
PySocks
python-dateutil
python-Levenshtein
python3-openid
pytz
PyYAML
rapidfuzz
requests
requests-oauthlib
selenium
setuptools
six
sniffio
sortedcontainers
sqlparse
stripe
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
wsproto
